<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Regístrate</h3>
                </div>
                <div class="card-body">
                    <form action="/registrate" method="POST">
                        <div class="form-group">
                            <input type="text" name="fullname" class="form-control" placeholder="Nombre Completo" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Nombre De Usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>